<ion-header-bar class="expanded">
  <img src="img/logo.png" alt="Buffed Up Gym Jedi" width="65" height="65" class="avatar motion spin fade">

  <div class="menu-bottom">
    Choose your exercise
  </div>
</ion-header-bar>

<ion-content class="stable-bg has-expanded-header">
  <div class="list">
    <a menu-close class="item item-thumbnail-left stable-bg" href="#" ng-repeat="exercise in getExercises()"
       bugj-repeat-finished-event data-ng-click="selectExercise(exercise)">

      <img ng-src="img/exercises/{{ exercise.image }}" width="80" height="80" alt="{{ exercise.name }}">
      <h3>{{ exercise.name }}</h3>
      <span data-ng-if="!newExercise(exercise)">
        <p>Weight used: {{ exercise.weight }} kg</p>
        <p>Reps: {{ exercise.repetitions }}</p>
        <p>Sets: {{ exercise.sets }}</p>
      </span>
      <span data-ng-if="newExercise(exercise)">
        <p>New exercise</p>
      </span>

    </a>
  </div>
</ion-content>
