<ion-header-bar class="expanded">
  <img src="img/logo.png" alt="Buffed Up Gym Jedi" width="65" height="65" class="avatar motion spin fade">

  <div class="menu-bottom">
    Choose your exercise
  </div>
</ion-header-bar>

<ion-content class="stable-bg has-expanded-header">
  <div class="list">
    <a menu-close class="item item-thumbnail-left stable-bg" href="#" ng-repeat="exercise in getExercises()"
       bugj-repeat-finished-event data-ng-click="selectExercise(exercise)">

      <img ng-src="{{ exercise.image }}" width="80" height="80" alt="{{ exercise.name }}">
      <h3>{{ exercise.name }}</h3>
      <p>Weight used: 10kg</p>
      <p>Reps: 10</p>
      <p>Sets: 3</p>

    </a>
  </div>
</ion-content>
